* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body a {
    cursor: pointer;
}

/* CSS Carousel */

.carousel-item {
    position: relative;
    height: 100vh;
    vertical-align: middle;
}

.carousel-item .img1 {
    height: 100%;
    background-image: url(./img/banner2.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item .img2 {
    height: 100%;
    background-image: url(./img/banner3.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
    color: white;
    width: 600px;
    height: 240px;
    text-align: left;
}

#carousel-content .carousel-indicators li {
    width: 11.99px;
    height: 11.99px;
    border-radius: 50%;
    top: 20%;
    right: 20%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption a {
    text-decoration: none;
    width: fit-content;
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    margin: 48px 0 0;
    display: flex;
    justify-content: left;
}

.carousel-item .carousel-caption .btn i {
    color: black;
    font-weight: bold;
    margin: 4px 0 0 7px;
}

.carousel-list {
    display: flex;
    justify-content: flex-end;
}

.carousel-list .carousel-indicators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1px 6px;
    margin: 40px 15px;
}

.carousel-indicators .active {
    background-color: red;
}

.carousel-indicators li {
    background-color: #fff;
    opacity: 1;
}

.carousel-indicators li:hover {
    background-color: red;
}


/* End CSS Carousel */

/* CSS Section */

.section_feature {
    text-align: center;
    margin: 50px 0 20px;
}

.section__feature .title-main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
    text-align: center;
}


.title-header {
    max-width: 700px;
    text-align: center;
    color: #060606;
    display: block;
}

.feature__main .py-5 {
    padding: 48px 0;
}

.section__feature .feature__core {
    margin: 0 auto;
    padding: 48px 15px;
}

.feature__main .mx-auto {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

}

.section__feature .title-main span {
    color: #ff6e65;
}

h3.title-main:before {
    left: -20px;
    bottom: -8px;
}

h3.title-main:after {
    left: 20px;
    bottom: -15px;
}

h3.title-main:before,
h3.title-main:after {
    content: '';
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.feature__items {
    padding: 0 15px;
    text-align: center;
    justify-content: center;
}

.col-3 .col-4 {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.col-3 {
    flex: 0 0 25%;
    text-align: center;
}

.section__content {
    margin-top: 1.5rem;
}

.section__title {
    color: #060606;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.section__title:hover {
    color: #ff6e65
}

.section__text {
    margin: 15px 0 0;
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

.section__icon i {
    color: #0d369f;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    background: #0d369f17;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

/* End css section */

/* css homepage stats number */


.feature__items {
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    margin-top: 3rem 0;
}

.col-3 {
    position: relative;
    width: 100%;
    padding: 0 15px;
}


.stats__text {
    padding-top: 0.5rem;
    margin: 1.5rem;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

.section__title {
    color: #060606;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.counter {
    font-size: 46px;
    font-weight: 600;
    color: #060606;
}

p .stats__content {
    color: #060606;
}

.stats__row .col-3 {
    border-right: 1px solid lightgray;
}

/* end css homepage stats numbers */

/* css homepage cover team */

h4 a {
    font-weight: 600;
    color: #060606;
    margin-bottom: 0.25rem;
    text-decoration: none;
}

h4 a:hover {
    color: #ff6e65;
    text-decoration: none;
}

.cover__item {
    box-shadow: 0 20px 62px rgb(4, 20, 69, 0.1);
}

.col-3 .cover__item p {
    font-size: 12.8px;
    font-weight: 400;
    margin-bottom: 0;
    color: #707070;
}

figcaption {
    padding: 24px;
}

figure {
    margin: 0;
    padding: 0;
}

.cover__image img {
    width: 90%;
}

.cover__social__icon {
    display: inline-block;
    position: relative;
}

.cover__social__icon i .fab {
    color: #0d369f;
    font-size: 14px;
    line-height: 28px;
    outline: none;
}

.cover__social__icon {
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.cover__social {
    position: absolute;
    bottom: -277px;
    margin: 0;
    background: #0808084a;
    padding: 20px 0;
    transition: .5 all;
    width: 70%;
    text-align: center;
}


/* end css homepage cover team */

/* css footer */
/* css footer form */
footer {
    position: relative;
}

footer .footer__form {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

footer .form__content {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form__title p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.footer__form input {
    background: transparent;
    padding: 15px 20px;
    font-size: 16px;
    color: #060606;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.footer__form button {
    background: #0d369f;
    border: none;
    color: white;
    padding: 16px 30px;
    font-weight: 600;
    border-radius: 0px 8px 8px 0px;
    transition: .5 all;
}


.footer__form button a {
    text-decoration: none;
    color: #fff;
}

/* end footer form */

/* css footer others */

.main__footer {
    padding: 200px 0;
    background: #060e1f;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footer h6 {
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.footer .col-4 h6 .footer__about {
    border-left: 1px solid rgb(64 73 82 / 51%)
}

.footer p a {
    padding-left: 14px;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
}

.footer .col-4 .form__content .about__social i {
    display: inline;
}





/* responsive carousel */

@media screen and (max-width:1200px) {
    .carousel-item .carousel-caption h5 {
        font-size: 57px;
        line-height: 67px;
    }
}


@media screen and (max-width:991.98px) {
    .carousel-item .carousel-caption h5 {
        font-size: 50px;
        line-height: 60px;
    }
}


@media screen and (max-width:767.98px) {
    .carousel-item .carousel-caption h5 {
        font-size: 45px;
        line-height: 55px;
    }
}


@media screen and (max-width:575.98px) {
    .carousel-item .carousel-caption h5 {
        font-size: 45px;
        line-height: 55px;
    }
}


/* responsive section studious */


@media screen and (max-width:1200px) {
    .section__content .section__title {
        font-size: 57px;
        line-height: 67px;
    }
}


@media screen and (max-width:992px) {
    .carousel-item .carousel-caption h5 {
        font-size: 50px;
        line-height: 60px;
    }
}


@media screen and (max-width:767.98px) {
    .carousel-item .carousel-caption h5 {
        font-size: 45px;
        line-height: 55px;
    }
}


@media screen and (max-width:575.98px) {
    .carousel-item .carousel-caption h5 {
        font-size: 45px;
        line-height: 55px;
    }
}